:root {
	--selection-color: rgb(255, 255, 255);
}

.navbar-item.active {
	color: var(--selection-color);
	font-weight: bold;
	/* background-color: rgb(61, 61, 61); */
}

.card {
	height: 100%;
}

div.scalehover:hover {
	transform: scale(1.05, 1.05);
}

iframe.sketchfab {
    width: 100%;
    height: 300px;
}