:root {
	--selection-color: rgb(255, 255, 255);
  }

.navbar {
    border-radius: 0;
	border-bottom: #c34e00;
	border-bottom-style: solid;
}

.navbar-item.active {
	color: var(--selection-color);
	font-weight: bold;
	/* background-color: rgb(61, 61, 61); */
}

.card {
    height: 100%;
}

div.card:hover {
    /* background: #384040; */
    /* top: -10px; */
	/* transform: translate(0px, -10px); */
	transform: scale(1.05, 1.05);
}